* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}


body {
  overflow-x: hidden;
}

.signature:hover{
	color: #a35f20;
}

.breadcrumb-item a {
    color: #a35f20;
}

.breadcrumb-item a:hover {
    color: #8b4e18;  
}

.blog3-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.blog3-card {
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.blog3-card-body {
    padding: 2rem 3rem;
}

.blog3-title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #a35f20;
}

.blog3-subtitle p {
    font-size: 1.2rem;
    color: #6c757d;
}

.blog3-image-container img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog3-text .intro-paragraph {
    line-height: 1.8;
    font-size: 1.2rem;
    color: #343a40;
    text-align: justify;
}

.blog3-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #a35f20;
}

.blog3-section p {
    margin-bottom: 1rem;
    line-height: 1.8;
    font-size: 1.1rem;
    text-align: justify;
}

.blog3-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a35f20; 
    color: white; 
    text-transform: uppercase; 
    font-weight: bold;
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog3-btn:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #a35f20; 
    text-decoration: underline;
    text-decoration: none;
}

.contact-info li {
    margin-bottom: 10px; /* Add space between list items */
	color: #555;
}

.contact-info li a{
	color: #555;
}

.contact-info li a:hover {
    color: #a35f20; /* Add space between list items */
}

.contact_2 h3{
	color: #a35f20;
}
/* Contact Page Styles */
.contact-page {
    background-color: #fdf1f1;
}

.contact-img {
    border-radius: 10px;
    width: 90%;
    height: auto;
}

.contact-heading {
    font-size: 2rem;
    color: #a35f20;
	margin-top: 50px;
}

.contact-description {
    font-size: 1rem;
    color: #555;
}

.contact-form .contact-label {
    font-weight: bold;
    color: #a35f20;
}

.contact-form .contact-input {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}

.contact-form .contact-btn {
    background-color: #a35f20;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .contact-form .row > .col-md-6 {
        padding: 0;
    }
}


.card-body {
    padding: 2rem 3rem;
}

.card-title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #a35f20;
}

.card-subtitle p {
    font-size: 1.2rem;
    color: #6c757d;
}

.image-container img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: auto;
}

.card-text .intro-paragraph {
    line-height: 1.8;
    font-size: 1.2rem;
    color: #343a40;
    text-align: justify;
}

.card-text .section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #a35f20;
}

.card-text .section p {
    margin-bottom: 1rem;
    line-height: 1.8;
    font-size: 1.1rem;
    text-align: justify;
}

/* Blog 2 Specific Styles */
#container_blog2 .img-blog2 {
    width: 60%;
}
.btn-next {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a35f20; 
    color: white; 
    text-transform: uppercase; 
    font-weight: bold;
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-next:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #a35f20; 
    text-decoration: underline;
	text-decoration: none;
}

#container_vlog1{
	text-align: justify;
}

#container_vlog1 h1, 
#container_vlog1 h2 {
    font-size: 2vw;
    line-height: 1.2;
}
/* Media query cho kích thước màn hình dưới 900px */
@media screen and (max-width: 900px) {
    #container_vlog1 h1 {
        font-size: 2em; 
        line-height: 1.2;
    }

    #container_vlog1 h2 {
        font-size: 1.75vw;
        line-height: 1.2;
    }
}

/* Media query cho kích thước màn hình dưới 768px */
@media screen and (max-width: 768px) {
    #container_vlog1 h1 {
        font-size: 1.75rem;
        line-height: 1.2;
    }

    #container_vlog1 h2 {
        font-size: 1.5rem;
        line-height: 1.2;
    }
}

/* Media query cho kích thước màn hình dưới 480px */
@media screen and (max-width: 480px) {
    #container_vlog1 h1 {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    #container_vlog1 h2 {
        font-size: 1.25rem;
        line-height: 1.2;
    }
}
/* Container padding adjustments for better readability */
.card-body {
    padding: 2rem 3rem;
}

/* Enhance the visual appeal of headings */
.card-title h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Style for the subtitle section */
.card-subtitle p {
    font-size: 1.2rem;
    color: #6c757d;
}

/* Image container styling */
.image-container img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.card-text .intro-paragraph {
    line-height: 1.8;
    font-size: 1.2rem;
    color: #343a40;
}

.card-text .section h2 {
    font-size: 2rem;
    font-weight: bold;
}

.card-text .section p {
    margin-bottom: 1rem;
    line-height: 1.8;
    font-size: 1.1rem;
}

/* Add padding to paragraphs for better spacing */
.card-text p {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Box shadow for card for better visual separation */
.card {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Custom font color for headings */
.custom-font-color-a35f20 {
    color: #a35f20;
}

.nav-item .fa-caret-down {
    margin-left: 5px;
    font-size: 0.6em; 
}


/* Hiển thị dropdown trên màn hình nhỏ và ẩn danh mục bên trái */
@media (max-width: 992px) {
    .sticky-category {
        display: none;
    }
    #categoryDropdown {
        position: fixed;
        top: 115px; /* Adjust this value according to your header height */
        left: 0;
        right: 0;
        z-index: 1000; /* Ensures it stays on top of other content */
        background-color: #fff; /* Background color to match the design */
        padding: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for clarity */
    }
    .d-lg-none {
        display: block;
        margin-bottom: 20px;
    }
}

/* For larger screens: make the category menu sticky */
@media (min-width: 992px) {
    .sticky-category {
        position: sticky;
        top: 100px; /* Adjust this value according to your header height */
        z-index: 100; /* Adjust based on your layout */
    }
}

@media (max-width: 768px) {
    .display-3 {
        font-size: 2rem;
    }

    .banner-btn {
        width: 100%;
        max-width: 250px;
    }
}

@media (max-width: 768px) {
    .footer .row {
        flex-direction: column;
    }

    .footer .footer-item {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer .col-lg-4, .footer .col-md-6 {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer .col-lg-4 iframe {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 576px) {
    .footer .footer-item {
        text-align: center;
        margin-bottom: 15px;
    }

    .footer .footer-item h4 {
        font-size: 1.25rem;
    }

    .footer .footer-item ul {
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .footer .footer-item ul li {
        margin-bottom: 10px;
    }

    .footer .col-lg-4 iframe {
        height: 150px;
    }
}


#container_vecaphein p{
	text-align: justify;
}

 .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #a35f20;
	transition: background-color 0.3s ease-in-out;
}
.carousel-indicators [data-bs-target].active {
	background-color: #a35f20; 
	border-color: #a35f20; 
}
#moka .row{
	margin-top: 50px;
}

#robusta .row{
	margin-top: 50px;
}

#sanpham .row{
	margin-top: 50px;
}
.navbar-brand img {
    max-width: 100%;
    height: auto;
    width: 150px; 
    max-height: 100px; 
    object-fit: contain; 
}
.navbar {
    padding: 0.5rem 1rem;
}

.navbar-brand {
    padding: 0;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* For all devices */
    .banner img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-width: 500px;
    }

    /* Specific styles for mobile devices */
    @media (max-width: 768px) {
        .banner img {
            object-fit: contain;
            max-width: 100%;
            height: auto;
        }
        
        .banner .display-4 {
            font-size: 2rem;
            text-align: center;
        }

        .banner .banner-btn {
            width: 100%;
            text-align: center;
        }

        .banner .text-dark {
            text-align: center;
            font-size: 1rem;
        }
    }

/*
.carousel-item img {
    width: 100vw; 
    height: 700px; 
}
*/

.carousel-inner {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}


.fw-700 {
    font-weight: 700;
}

.custom-font-color-a35f20 {
    color: #a35f20;
}

.custom-bg-f7fed8 {
    background-color: #F7FED8;
}

.custom-bg-img-about-ca-phe-in {
    background: url(../images/coffee-beans-piled-wooden-tray.jpg);
    background-size: cover;
}

.custom-blog-topic-bg-img {
    background: url(../images/flat-lay-cups-coffee-beans-with-copy-space.jpg);
    background-size: cover;
    background-position-y: 45%;
}

.Title {
    color: #a35f20;
    font-size: 4.5em !important;
    margin: auto;
}

.title {
    color: #a35f20;
    font-size: 300;
}

#menu_product {
    margin: 100px auto;
    padding-bottom: 50px;
    background-color: #F7FED8;
}

.frame {
    margin-left: 30px;
}

.frame p {
    font-size: 26px;
    color: #a35f20;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 1s ease;
}

.slide {
    min-width: 100%;
}

.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: orange;
}

.price {
    font-weight: 300;
    margin: -15px;
}

.caphe-title {
    margin: 10px;
}

.frame img {
    border-radius: 5px;
}

#branch {
    margin: auto;
}

#branch p {
    color: #000000;
}

.branch_p {
    font-weight: 300;
    font-size: 15px;
}

#branch img {
    border-radius: 5px;
}

.header-bg {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../images/moka-tinh-hoa/video-moka-tinh-hoa.png") center center no-repeat;
    background-size: cover;
}

.position-relative .position-absolute {
    color: white;
    font-size: 24px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.img-vlog1{
	width: 60%;
	height: auto;
}

.moka_title {
    position: absolute;
    top: 60%;
    left: 84%;
    color: white;
    font-size: 40px;
}

/* Custom CSS for the menu section */
.custom-main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.custom-menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-product-selection {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid #E0E0E0;
}

.menu_title {
    list-style-type: none;
    padding: 0px;
    margin: 10px;
}

.custom-product-selection li {
    margin-bottom: 15px;
    margin-left: 10px;
}

.custom-product-selection li a {
    text-decoration: none;
    color: #a35f20;
    font-size: 1.2em;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.custom-product-selection li li a{
	color: black;
	font-weight: 300;
}

.custom-product-selection li a:hover {
    color: #8b4e18;
    font-weight: bold;
    font-size: 1.3em;
}

.custom-product-selection li a.active {
    color: #FF6600;
    font-weight: bold;
}

.submenu {
    display: none;
    padding-left: 20px;
    margin-top: 10px;
    list-style-type: disc;
}

.submenu.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

.custom-product-display {
    flex: 2;
    text-align: center;
    padding: 20px;
}

.custom-product-info {
    flex: 1;
    padding-left: 20px;
}

.custom-image-animation {
    transition: transform 0.5s ease, opacity 0.5s ease;
    max-width: 100%;
    border-radius: 10px;
}

.custom-image-animation.fade-out {
    transform: scale(0.95);
    opacity: 0;
}

.custom-size-options {
    margin-top: 20px;
}

.custom-size-options button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #a35f20;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-size-options button:hover {
    background-color: #8b4e18;
}

.custom-order-button {
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    background-color: #a35f20;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-order-button:hover {
    background-color: #8b4e18;
}

#productTitle {
    font-size: 2em;
    color: #a35f20;
}

#productDescription {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

/* Custom header styles */
.custom-header-container {
    background-color: #F7FED8;
}

.custom-header-border-bottom {
    border-bottom: 1px solid #E0E0E0;
}

.custom-header-row {
    margin-left: 0;
    margin-right: 0;
}

.custom-header-col-4 {
    padding-left: 0;
    padding-right: 0;
}

.custom-nav-scroller {
    background-color: #FFFFFF;
}

.custom-nav {
    padding: 0;
}

.custom-nav-item {
    list-style: none;
}

.custom-nav-link {
    text-decoration: none;
    color: #a35f20;
    font-size: 1.2em;
}

/* Custom breadcrumb styles */
.custom-breadcrumb-container {
    background-color: #FFFFFF;
}

.custom-breadcrumb-row {
    margin-left: 0;
    margin-right: 0;
}

.custom-breadcrumb-col-12 {
    padding-left: 0;
    padding-right: 0;
}

.custom-breadcrumb {
    background-color: #F7FED8;
}

.custom-breadcrumb-item {
    list-style: none;
}

/* Custom footer styles */
.custom-footer-container {
    background-color: #fff;
	box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.custom-footer-container .form-control {
    background-color: #fade9f; /* Giữ màu nền trắng */
    border: 2px solid #a35f20; /* Thêm viền màu #a35f20 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng nhẹ */
}


.custom-footer-border-top {
    border-top: 1px solid #E0E0E0;
}

.custom-footer-row {
    margin-left: 0;
    margin-right: 0;
}

.custom-footer-col-6,
.custom-footer-col-md-3,
.custom-footer-col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

.custom-footer-nav {
    padding: 0;
}

.custom-footer-nav-item {
    list-style: none;
}

.custom-footer-nav-link {
    text-decoration: none;
    color: #a35f20;
    font-size: 1em;
}

/* Animation for submenu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

 .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}
/*** Spinner End ***/


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.border-secondary {
    transition: 0.5s;
}

.btn.border-secondary:hover {
    background: var(--bs-secondary) !important;
    color: var(--bs-white) !important;
}

/*** Topbar Start ***/
.fixed-top {
    transition: 0.5s;
    background: var(--bs-white);
    border: 0;
}

.topbar {
    padding: 20px;
    border-radius: 230px 100px;
}

.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: var(--bs-secondary) !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: var(--bs-primary) !important;
}
/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
    transition: .5s;
}

.navbar {
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: #a35f20;
	font-weight: bold;
}

/*
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .dropdown-item:hover{
	color: #a35f20;
}
*/

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-secondary);
    color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}
/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url("../images/Banner Khuyến Mãi/banner4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
    position: relative;
}

.carousel-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
}

.carousel-control-next,
.carousel-control-prev {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid var(--bs-white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-next{
	background: #a35f20;
}

.carousel-control-prev{
	background: #a35f20;
}


.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 90%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 50px; 
    height: 50px; 
    background: none;
    border: none;
    outline: none; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #a35f20; 
    border-radius: 50%; 
    padding: 10px; 
    width: 100%; 
    height: 100%;
}

.carousel-control-prev-icon {
    transform: translateX(-80%); 
}

.carousel-control-next-icon {
    transform: translateX(80%);
}

.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/hinh-khac/flat-lay-cups-coffee-beans-with-copy-space.jpg");
     background-size: cover;
    background-position: center;
    background-attachment: fixed;
	height: 500px;

}

.menu-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/hinh-khac/coffee-beans-piled-wooden-tray.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 350px;

}

.blog-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/hinh-khac/coffee-banner-2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	height: 500px;

}

.blog2-header{
	position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/hinh-khac/coffee-banner-3.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	height: 500px;

}

.blog3-header{
	position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/hinh-khac/coffee-barrista-handmade.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	height: 500px;
}

.vanhoa-header{
	position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/hinh-khac/cup-coffee-with-roasted-beans.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 350px;
}

@media (min-width: 992px) {
    .hero-header,
    .page-header,
	.menu-header,
	.blog-header,
	.blog2-header,
	.blog3-header,
	.vanhoa-header{
        margin-top: 152px !important;
    }
}

@media (max-width: 992px) {
    .hero-header,
    .page-header,
	.menu-header,
	.blog-header,
	.blog2-header,
	.blog3-header,
	.vanhoa-header{
        margin-top: 97px !important;
    }
}
/*** Hero Header end ***/


/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
    position: relative;
    width: 120px;
    height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
    content: "";
    width: 35px;
    height: 35px;
    background: var(--bs-secondary);
    position: absolute;
    bottom: -10px;
    transform: translate(-50%);
    transform: rotate(45deg);
    background: var(--bs-secondary);
    
}
/*** featurs End ***/


/*** service Start ***/
.service .service-item .service-content {
    position: relative;
    width: 250px; 
    height: 130px; 
    top: -50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

/*** service End ***/


/*** Fruits Start ***/
.fruite .tab-class .nav-item a.active {
    background: var(--bs-secondary) !important;
}

.fruite .tab-class .nav-item a.active span {
    color: var(--bs-white) !important; 
}

.fruite .fruite-categorie .fruite-name {
    line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
    transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
    color: var(--bs-secondary);
}

.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.fruite .fruite-item .fruite-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.fruite .fruite-item .fruite-img img {
    transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}
/*** Fruits End ***/


/*** vesitable Start ***/
.vesitable .vesitable-item {
    height: 100%;
    transition: 0.5s;
}

.vesitable .vesitable-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.vesitable .vesitable-item .vesitable-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.vesitable .vesitable-item .vesitable-img img {
    transition: 0.5s;
}

.vesitable .vesitable-item .vesitable-img img:hover {
    transform: scale(1.2);
}

.vesitable .owl-stage {
    margin: 50px 0;
    position: relative;
}

.vesitable .owl-nav .owl-prev {
    position: absolute;
    top: -8px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;

}

.vesitable .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.vesitable .owl-nav .owl-next {
    position: absolute;
    top: -8px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.vesitable .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** vesitable End ***/


/*** Banner Section Start ***/
.banner .banner-btn:hover {
    background: var(--bs-primary);
}
/*** Banner Section End ***/


/*** Facts Start ***/
.counter {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
    font-size: 60px;
    margin-bottom: 25px;
}

.counter h4 {
    color: var(--bs-primary);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter h1 {
    margin-bottom: 0;
}
/*** Facts End ***/


/*** testimonial Start ***/
.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    right: 0;
    color: #a35f20;
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 88px;
    color: #a35f20;
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** testimonial End ***/


/*** Single Page Start ***/
.pagination {
    display: inline-block;
}
  
.pagination a {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid var(--bs-secondary);
    margin: 0 4px;
}
  
.pagination a.active {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    border: 1px solid var(--bs-secondary);
}
  
.pagination a:hover:not(.active) {background-color: var(--bs-primary)}

.nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--bs-secondary) !important;
}
/*** Single Page End ***/


/*** Footer Start ***/
.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, .5);
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color: var(--bs-secondary) !important;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;
}
/*** Footer End ***/
.category-menu {
    list-style: none;
    padding: 0;
	margin-left: 60px;
}

.category-menu li {
	font-size: 20px;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.category-menu li:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.category-menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    transition: all 0.3s ease;
}

.category-menu a:hover {
    font-weight: bold;
    color: #a35f20;
}

.category-menu a.active {
    font-weight: bold;
    color: #a35f20;
}

.product-section {
    display: none;
}

.product-section.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product-item {
    margin-bottom: 20px;
}

.product-item img {
    max-width: 100%;
    border-radius: 5px;
}

.product-description {
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
    color: #343a40;
}
.product-description:hover{
	color: #a35f20;
}

.product-price {
    color: #a35f20;
	font-size: 20px;
    font-weight: bold;
}

.separator {
    border-left: 2px solid #a35f20;
    height: 100%;
}

.divider {
    border-left: 2px solid #a35f20;
    height: auto;
}

.sticky-category {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 150px;
    padding-right: 53px;
	max-height: calc(100vh - 500px); 
    overflow-y: auto;
}

#sanpham, #robusta, #moka{
	margin-top: 30px ;
}

a{
	color: #a35f20;
}

a:hover{
	color: blue;
}

h4{
	color: #a35f20;
}

.shop_info, .footer-item p{
	color: #21130d;
	margin-top: 10px;
	font-weight: 500;
}


.shop_info:hover{
	color:  #a35f20;
}

.btn-outline-secondary{
	color: #a35f20;
	border-color: #a35f20;
}




.container-fluid ol li:hover{
	color: #EC9211;
}


.border{
	border-color: #a35f20;
	border: 1px solid #a35f20;
}

#sanpham_dactrung h4{
	color: #555;
}



.btn {
    color: #a35f20;
}


/*
.hero-body{
	background-image: url("../images/moka-tinh-hoa/moka-tinh-hoa-3.png");
	
}
*/

.service-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service-item img {
    transition: opacity 0.3s ease;
}

.service-item:hover img {
    opacity: 0.85;
}

/*
.service-item h5 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #a35f20;
}
*/

.service-item p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn-outline-secondary:hover,
.btn-outline-dark:hover,
.btn-outline-primary:hover {
    background-color: #a35f20;
    color: #fff;
    border-color: #a35f20;
}

.p-4 {
    padding: 1.5rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.text-primary {
    color: #a35f20 !important;
}

.text-muted {
    color: #6c757d !important;
}

.btn-outline-primary {
    color: #a35f20;
    border-color: #a35f20;
}

.btn-outline-primary:hover {
    background-color: #a35f20;
    color: #fff;
}

.h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.testimonial-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.testimonial-item img {
    transition: transform 0.3s ease;
}

.testimonial-item:hover img {
    transform: scale(1.1);
}

.testimonial-item h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.testimonial-item p {
    font-size: 1rem;
    color: #6c757d;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.text-primary {
    color: yellow !important;
}


#banner_2 a:hover{
	background-color: #a35f20;
	color: #fff;
}
#sp_banchay h5, #sanpham_dactrung h4{
	color: #555;
}

#sp_banchay p{
	font-weight: bold;
}

#bt{
	background-color: #a35f20;
	color: #fff;
}
.news-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.news-item img {
    transition: transform 0.3s ease;
}

.news-item:hover img {
    transform: scale(1.05);
}

.text-primary {
    color: #a35f20 !important;
}

.text-muted {
    color: #6c757d !important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.bg-white {
    background-color: #fff !important;
}

.text-dark {
    color: #a35f20 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}



.news-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.news-item img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
}

.news-item .p-4 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.text-secondary{
	color: #a35f20 !important;
	   font-size: 1.5rem !important;
    margin-bottom: 15px !important;
}

h1 {
	color: #a35f20;
	text-align: center;
	font-weight: bold;
}

.breadcrumb-item a {
	color: white;
}

