* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    /* font-style: normal;  */
}

.fw-700 {
    font-weight: 700;
}

.custom-font-color-a35f20 {
    color: #a35f20;
}

.custom-bg-f7fed8 {
    background-color: #F7FED8;
}

.custom-bg-img-about-ca-phe-in {
    background: url(../images/coffee-beans-piled-wooden-tray.jpg);
    background-color: #F7FED8;
    background-size: cover;
}